html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #311847;
  color: white;
  position: relative;
  font-family: 'Amatic SC';
  font-size: 25px;
}


a {
  color: #A01A7D;
  font-size: 20px;
  display: block;
}

/* ":hover" will effect the color
 of links when you "mouseover" */
a:hover,
a:visited:hover {
  color: #9D8189;
}

/* ":visited" will effect the color
 of links you have previously clicked on */
a:visited {
  color: #A01A7D;
}

.link-heading {
  display: block;
  font-size: 26px;
}

.square-one .inner {
  background: #D8E2DC;
}

.square-two .inner {
  background: #9D8189;
}

.square-three .inner {
  background: #FFCAD4;
}

.outer {
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  max-width: 900px;
  margin: 0 auto;
  min-height: 100vh;
  align-items: stretch;
}

.left {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.right {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  position: relative;
  width: 340px;
  height: 345px;
  box-sizing: border-box;
  margin: 0 auto;
}

.square {
  position: absolute;
  display: flex;
  height: 240px;
  width: 240px;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
}

.wrap:hover .square-one {
  left: 48px;
  top: 52px;
}

.square-one {
  left: 0;
  top: 0;
}

.square-two {
  left: 52px;
  top: 52px;
}

.wrap:hover .square-three {
  left: 56px;
  top: 52px;
}

.square-three {
  left: 104px;
  top: 104px;
}

.inner {
  height: 240px;
  width: 4px;
  margin-right: 8px;
}
